__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
.venv/
venv/

_tmp_*/

AndroidStudio/RP902App/.gradle/
AndroidStudio/RP902App/.idea/workspace.xml
AndroidStudio/RP902App/.kotlin/
AndroidStudio/RP902App/app/build/
AndroidStudio/RP902App/local.properties
AndroidStudio/RP902App/vendor/**/keystore/
AndroidStudio/RP902App/vendor/**/keystore/
AndroidStudio/RP902App/vendor/**/keystore/